body{

}
#banner {
  width: 100%
}
principal
#banner {
  ckground: #ccccccba
width: 100%;

h1{
  text-align: center
  {
    p{
      text-aling center
    }
p{
h1 {
text-align: center
}
  text-align:center;
}
em strong [
  color: #ff0000;
}
.itens{
  background: ; #ffffff
  padding: 20px;

font-size: 20px
}
    color:rgb(255, 0, 191)
h2 {
  text-align: center;
}
ul{
  display:inline-block;
  vertical-align: top;
  width:20%
  margin: right 15%;
}
.imagembeneficios{
   width:50%
}
  
